@tbdc-agro-softwares:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org
public-hoist-pattern[]=*types*
enable-pre-post-scripts=true
always-auth=true
